.divider {
	height: 25px; 
}

/*#urls {
	margin-top: 10px;
}*/

#urls div {
	margin-top: 10px; 
}

/*#urls-buttons {
  margin-top: 30px; 
}*/

#encode-urls-btn, #load-urls-btn, #clear-urls-btn, #show-urls-btn, #hide-urls-btn {
  width: 100%; 
}


#urls-encoded-panel {
	display: none; 
}

#urls-encoded {
	word-wrap: break-word;
}