.divider {
	height: 25px; 
}

/*#urls {
	margin-top: 10px;
}*/

#urls div {
	margin-top: 10px; 
}

/*#urls-buttons {
  margin-top: 30px; 
}*/

#retry-btn, save-urls-btn, #load-urls-btn, #clear-urls-btn, #show-urls-btn, #hide-urls-btn {
  width: 100%; 
}

.error .meter {
  background: #cc0000;
  height: 100%;
  display: block; 
}